[Unit]
Description=PG Prometheus Adapter

[Service]
EnvironmentFile={{ ansible_workdir }}/pgadapter/pgadapter.env
ExecStart=/usr/local/bin/postgresql-prometheus-adapter
Restart=on-failure

[Install]
WantedBy=multi-user.target