cloud_id                 = "testp69okn2sv7c6ctest"
folder_id                = "testjb0a2k4e2avgrtest"
zone                     = "ru-central1-a"
image_id                 = "testst6nofct7j1dutest"
public_key_path          = "~/.ssh/sm0ke.pub"
subnet_id                = "testbms651fb7bpatest"
service_account_key_file = "../../appuser_key.json"
app_disk_image           = "fd8pf3fmnmva6ku0test"
db_disk_image            = "fd85ve2mphf6lgg8test"
access_key               = "YCAJEaBGj3zaTLRdB8gQtest"
secret_key               = "YCMnMot7olMEIhkfeZDkznh2vTaBFv66UOutest"