ansible_workdir = "/home/ansible"
yc_folder_id = "TEST6j4atTEST0n1fbjo"
yc_cloud_id = "TERSTv09TESTtnutrh88e"
yc_region = "ru-central1-b"
app_instance_zone = "ru-central1-b"
pg_admin_password = "1TESTe4rTEST"
tls_cert_id = "TEST7pTESTnffTESTd"
kibana_password = "TESTeTEST"
telegram_bot_token = "TEST226901:AAGzTESTv0-Fwx8_PCMTESTJcTLl2O4_58"
telegram_chat_id = "-10019TEST0603"