[Unit]
Description=Prometheus Nginx Log Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/prometheus-nginxlog-exporter -config-file {{ ansible_workdir }}/prometheus-nginxlog-exporter/config.hcl

[Install]
WantedBy=multi-user.target